@import "variables";
@import "mixins";

.features {
  width: 87.2%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 24px;
  grid-template-areas:
    "title"
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "btn";
  text-align: center;
  justify-content: center;

  @include breakpoint-up(landscape) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(4, 3fr);
    gap: 24px 24px;
    grid-template-areas:
      "title btn"
      "img ."
      "img .";
  }

  @include breakpoint-up(large){
    grid-template-columns: 250px 250px 250px 250px;
    //grid-template-columns: 798px 250px;
    grid-template-rows:  1fr repeat(2, 3fr);
    grid-template-areas:
      "title title title btn"
      "img img img img"
      "img img img img";
  }

  &-title {
    grid-area: title;
    align-self: center;

    @include breakpoint-up(landscape){
      grid-area: title;
      justify-self: center;
    }
    @include breakpoint-up(large){
      grid-area: title;
      justify-self: self-start;
    }
  }

  &-btn {
    grid-area: btn;
    align-self: center;
    display: grid;

    @include breakpoint-up(large){
      justify-self: self-end;
    }



    > button {
      cursor: pointer;
      outline: none;
      border: 1px solid $black;
      text-transform: uppercase;
      color: $black;
      background-color: $white;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 5px;
      font-family: $alata;
      margin: 10px auto;
      padding: 13px 38px;
    }

    @include breakpoint-up(landscape){
      grid-area: btn;
    }
  }
}

h3 {
  display: grid;
  grid-area: title;
  text-transform: uppercase;
  font-family: $josefin;
  font-size: 32px;
  font-weight: 300;
}

.feature {

  &__item {
    height: 120px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    //margin: 0;

    @include breakpoint-up(medium){
      //height: 450px;
      //width: 256px;
    }

    @include breakpoint-up(landscape){
      height: 450px;
      width: 256px;
      background-size: contain;
      background-position: top;
    }
    @include breakpoint-up(large){
      //border: 1px solid red;
    }

  }

  &__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    @include breakpoint-down(medium){

    }

    .feature__title {
      font-size: 1.5rem;
      font-family: $josefin;
      text-transform: uppercase;
      text-align: left;
      color: $white;
      position: absolute;
      left: 10%;
      bottom: 5%;
      max-width: 240px;
      height: 50%;
      white-space: pre;
    }

  }

}

// Images for items
#item1 {
  background-image: url("./../images/mobile/image-deep-earth.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-deep-earth.jpg");
  }
}

#item2 {
  background-image: url("./../images/mobile/image-night-arcade.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-night-arcade.jpg");
  }
}

#item3 {
  background-image: url("./../images/mobile/image-soccer-team.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-soccer-team.jpg");
  }
}

#item4 {
  background-image: url("./../images/mobile/image-grid.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-grid.jpg");
  }
}

#item5 {
  background-image: url("./../images/mobile/image-from-above.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-from-above.jpg");
  }
}

#item6 {
  background-image: url("./../images/mobile/image-pocket-borealis.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-pocket-borealis.jpg");
  }
}

#item7 {
  background-image: url("./../images/mobile/image-curiosity.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-curiosity.jpg");
  }
}

#item8 {
  background-image: url("./../images/mobile/image-fisheye.jpg");

  @include breakpoint-up(landscape){
    background-image: url("./../images/desktop/image-fisheye.jpg");
  }
}
