@import "variables";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $alata;
  font-size: $font-med;
  font-weight: 400;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $white;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//

h1 {
  color: $white;
  font-family: $josefin;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  padding-left: 2.5rem;
}

