@import "variables";
@import 'mixins';

.hero {
  height: 40.625rem;
  background-image: url("./../images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: inset 0 0 0 40.625rem rgba(0, 0, 0, 0.4);

  .header {

    .navbar {
      height: 2rem;
      width: 77.08%;
      margin: auto;
      padding-top: 4rem;

      @include breakpoint-down(medium){
        width: 87.2%;
      }

      .header__links {
        width: 23.75rem;
        height: 1.563rem;
        margin-top: 0.5rem;
      }

      .hamburger {
        margin-top: 0.5rem;
      }
    }

  } // end header

  .wrapper {
    width: 77.08%;
    margin: 10rem auto 0;

    @include breakpoint-down(medium){
      width: 87.2%;
    }
  }

  .main-title {
    border: 2px solid $white;
    max-width: 40.625rem;

    @include breakpoint-down(medium){
      font-size: 2.5rem;
      line-height: 2.375rem;
      padding: 0.813rem;
      text-align: left;
    }
  }

}
