// Fonts
$josefin: 'Josefin Sans', sans-serif;
$alata: 'Alata', sans-serif;

// Font-size
$font-med: 0.938rem; // 15px

// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
