html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
}

a, a:visited, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a::after {
  content: "";
  display: block;
  margin: 0.625rem auto;
  background: white;
  height: 2px;
  width: 0;
  transition: all 0.3s ease-in-out;
}

a:hover::after {
  width: 40%;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 4.375rem;
  text-transform: uppercase;
  padding-left: 2.5rem;
}
@media (max-width: 51.2em) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.375rem;
    padding: 0.813rem;
  }
}

@media (max-width: 51.2em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 51.21em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  height: 40.625rem;
  width: 100%;
  background-image: url("./../images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: inset 0 0 0 40.625rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 51.2em) {
  .hero {
    background-image: url("./../images/mobile/image-hero.jpg");
    height: 100vh;
  }
  .hero a:hover::after {
    width: 0;
  }
}
.hero .hamburger {
  margin-top: 0.5rem;
  background-image: url("./../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
}
.hero.open {
  background-color: black;
  background-image: none;
}
.hero.open .hamburger {
  background-image: url("./../images/icon-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
}
.hero .header .navbar {
  height: 2rem;
  width: 77.08%;
  margin: auto;
  padding-top: 4rem;
}
@media (max-width: 51.2em) {
  .hero .header .navbar {
    width: 87.2%;
  }
}
.hero .header .navbar .header__links {
  width: 23.75rem;
  height: 1.563rem;
  margin-top: 0.5rem;
}
.hero .header .navbar .header__links.mobileLinks {
  display: block;
  position: absolute;
  top: 35vh;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}
.hero .wrapper {
  width: 77.08%;
  margin: 10rem auto 0;
}
@media (max-width: 51.2em) {
  .hero .wrapper {
    width: 87.2%;
  }
}
.hero .main-title {
  border: 2px solid white;
  max-width: 40.625rem;
}
@media (max-width: 51.2em) {
  .hero .main-title {
    font-size: 2.5rem;
    line-height: 2.375rem;
    padding: 0.813rem;
    text-align: left;
  }
}
@media (max-width: 51.2em) {
  .hero .main-title > h1 {
    margin: auto;
  }
}

.section {
  margin-top: 10rem;
  height: 70vh;
}
@media (max-width: 66.2em) {
  .section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    vertical-align: center;
  }
}
.section .wrapper {
  width: 77.15%;
  height: 31.25rem;
  position: relative;
  display: flex;
  margin: auto;
}
@media (max-width: 66.2em) {
  .section .wrapper {
    width: 87.2%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
@media (min-width: 51.21em) {
  .section .wrapper .wrapperText {
    position: absolute;
    background-color: white;
    width: 48%;
    right: 0;
    bottom: 0;
    padding-left: 8%;
    padding-top: 8%;
  }
}
@media (max-width: 51.2em) {
  .section .wrapper .wrapperText {
    position: unset;
    width: 85%;
    margin: 3rem auto;
  }
}
.section .wrapper .wrapperText h2 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
}
@media (max-width: 66.2em) {
  .section .wrapper .wrapperText h2 {
    margin-top: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
.section .wrapper .wrapperText p {
  color: dimgray;
  line-height: 1.6rem;
  margin-bottom: 0;
}
.section .img {
  background-image: url("./../images/desktop/image-interactive.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 31.25rem;
}
@media (min-width: 51.21em) {
  .section .img {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 45.688rem;
  }
}
@media (max-width: 66.2em) {
  .section .img {
    background-image: url("./../images/mobile/image-interactive.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 14rem;
    min-width: 20.32rem;
    margin: auto;
  }
}

.features {
  width: 87.2%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-template-areas: "title" "img" "img" "img" "img" "img" "img" "img" "img" "btn";
  text-align: center;
  justify-content: center;
}
@media (min-width: 41.625em) {
  .features {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(4, 3fr);
    gap: 1.5rem 1.5rem;
    grid-template-areas: "title btn" "img ." "img .";
  }
}
@media (min-width: 66.13em) {
  .features {
    grid-template-columns: 15.938rem 15.938rem 15.938rem 15.938rem;
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-template-areas: "title title title btn" "img img img img" "img img img img";
  }
}
.features-title {
  grid-area: title;
  align-self: center;
}
@media (min-width: 41.625em) {
  .features-title {
    grid-area: title;
    justify-self: center;
  }
}
@media (min-width: 66.13em) {
  .features-title {
    grid-area: title;
    justify-self: self-start;
  }
}
.features-title h3 {
  display: grid;
  grid-area: title;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
.features-btn {
  grid-area: btn;
  align-self: center;
  display: grid;
}
@media (min-width: 66.13em) {
  .features-btn {
    justify-self: self-end;
  }
}
.features-btn > button {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  text-transform: uppercase;
  color: black;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.313rem;
  font-family: "Alata", sans-serif;
  margin: 0.625rem auto;
  padding: 0.813rem 2.375rem;
  transition: all 400ms ease-in-out;
}
.features-btn > button:hover {
  background-color: black;
  color: white;
}
@media (min-width: 41.625em) {
  .features-btn {
    grid-area: btn;
  }
}

.feature a::after {
  content: unset;
}
.feature__item {
  height: 7.5rem;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 6.25rem 0 4.688rem 0.313rem rgba(0, 0, 0, 0.5);
  transition: box-shadow 200ms ease-in-out;
}
.feature__item:hover {
  box-shadow: inset 0 0 30rem 0 #d8d8d8;
}
.feature__item:hover .feature__title {
  color: black;
}
@media (min-width: 41.625em) {
  .feature__item {
    height: 28.125rem;
    width: 16rem;
    background-size: contain;
    background-position: top;
    box-shadow: inset 0 -14.063rem 18.75rem -7.188rem black;
  }
}
.feature__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.feature__img .feature__title {
  max-width: 15rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: white;
  position: relative;
  display: flex;
  margin: 3.438rem 6%;
  line-height: 1;
}
@media (min-width: 41.625em) {
  .feature__img .feature__title {
    left: 0;
    bottom: 0;
    position: unset;
    margin-left: 2.5rem;
    margin-top: 21.875rem;
    font-size: 2rem;
  }
}

#item1 {
  background-image: url("./../images/mobile/image-deep-earth.jpg");
}
@media (min-width: 41.625em) {
  #item1 {
    background-image: url("./../images/desktop/image-deep-earth.jpg");
  }
}

#item2 {
  background-image: url("./../images/mobile/image-night-arcade.jpg");
}
@media (min-width: 41.625em) {
  #item2 {
    background-image: url("./../images/desktop/image-night-arcade.jpg");
  }
}

#item3 {
  background-image: url("./../images/mobile/image-soccer-team.jpg");
}
@media (min-width: 41.625em) {
  #item3 {
    background-image: url("./../images/desktop/image-soccer-team.jpg");
  }
}

#item4 {
  background-image: url("./../images/mobile/image-grid.jpg");
}
@media (min-width: 41.625em) {
  #item4 {
    background-image: url("./../images/desktop/image-grid.jpg");
  }
}

#item5 {
  background-image: url("./../images/mobile/image-from-above.jpg");
}
@media (min-width: 41.625em) {
  #item5 {
    background-image: url("./../images/desktop/image-from-above.jpg");
  }
}

#item6 {
  background-image: url("./../images/mobile/image-pocket-borealis.jpg");
}
@media (min-width: 41.625em) {
  #item6 {
    background-image: url("./../images/desktop/image-pocket-borealis.jpg");
  }
}

#item7 {
  background-image: url("./../images/mobile/image-curiosity.jpg");
}
@media (min-width: 41.625em) {
  #item7 {
    background-image: url("./../images/desktop/image-curiosity.jpg");
  }
}

#item8 {
  background-image: url("./../images/mobile/image-fisheye.jpg");
}
@media (min-width: 41.625em) {
  #item8 {
    background-image: url("./../images/desktop/image-fisheye.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
